.title {
   text-align: center;
}
.text-centered {
   text-align: center;
}

#log-pre {
   height: 200px;
   max-height: 200px;
   min-height: 200px;
   overflow: auto
}


#data-html {
   height: 200px;
   max-height: 200px;
   min-height: 200px;
   overflow: auto
}
.db-span {
   display: block;
}