.title {
   text-align: center;
}
.text-centered {
   text-align: center;
}

#log-pre {
   height: auto;
   max-height: 200px;
   overflow: auto
}

#data-html {
   height: auto;
   max-height: 200px;
   overflow: auto
}
.db-span {
   display: inline-block;
}